@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

/* Custom edge animation */
.animated-edge {
  stroke-dasharray: 5;
  animation: dash 10s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
